/* index.css */

/* Añade aquí tus estilos globales */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Media Queries para dispositivos más grandes */
@media (min-width: 600px){
  body{
    font-size: 1.2em;
  }

  code{
    font-size: 1em;
  }
}